<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hermes.app.persistence.pay.card.CardMapper">

    <select id="selectCategory" resultType="category">
        select t.corpcode, t.cardname
          from tb_rcvcard_cardcatlg t
         where t.state = '1'
         group by t.corpcode, t.cardname
         order by to_number(t.corpcode)
    </select>

    <select id="selectFaceValue" resultType="category">
        select t.cardcode, t.faceval
          from tb_rcvcard_cardcatlg t
         where t.state = '1'
           and t.corpcode = #{corpcode}
         order by to_number(t.faceval)
    </select>

    <select id="selectMd5key" resultType="String">
        select a.md5key
          from TB_PayAccountSecInfo a
         where a.usercode = #{usercode}
           and a.datastatus = '1'
    </select>
    <select id="selectRcvcardBill" resultType="RcvcardOrder">
        select usercode,cardcode,cardno,cardpass
          from tb_rcvcard_bill
         where billid = #{billid}
    </select>
</mapper>