/* CSS crunched with Crunch - http://crunchapp.net/ */
.clearfix,.cf,.clearFix,.fn-clearfix,.fn-clear{*zoom:1;}.clearfix:before,.cf:before,.clearFix:before,.fn-clearfix:before,.fn-clear:before,.clearfix:after,.cf:after,.clearFix:after,.fn-clearfix:after,.fn-clear:after{display:table;content:"";line-height:0;}
.clearfix:after,.cf:after,.clearFix:after,.fn-clearfix:after,.fn-clear:after{clear:both;}
.inline-list,.inlineList{letter-spacing:-4px;}.inline-list li,.inlineList li{letter-spacing:0;display:inline-block;display:inline;zoom:1;}
.position-wrapper{position:relative;*zoom:1;}
.red,.error{color:#B94A48!important;}
.warning{color:#c09853;}
.success{color:#468847;}
.blur,.grey{color:#666666;}
.show,.fn-show,.js-show,.ui-show{display:block;}
.hide,.fn-hide,.js-hide,.ui-hide{display:none;}
.hide-i{display:none!important;}
.left,.fn-left,.ui-left{float:left;}
.right,.fn-right,.ui-right{float:right;}
.t-right,.tright{text-align:right;}
.t-center,.tcenter{text-align:center;}
.push{margin:10px;}
.pusht{margin-top:10px;}
.nopusht,.no-pusht,.noPusht{margin-top:0!important;}
.nopush{margin:0!important;}
.pushr{margin-right:10px;}
.pushb{margin-bottom:10px;}
.pushl{margin-left:10px;}
.thick-wrapper{padding:20px;}
.content-border{padding:40px 30px;}
.normal-wrapper{padding:10px;}
.fill{padding:10px;}
.fillt{padding-top:10px;}
.fillr{padding-right:10px;}
.fillb{padding-bottom:10px;}
.filll{padding-left:10px;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
html{*overflow:hidden;}
#topBar{background-color:#F8F8F8;padding:4px 10px;border-bottom:1px solid #eeeeee;*zoom:1;}#topBar:before,#topBar:after{display:table;content:"";line-height:0;}
#topBar:after{clear:both;}
#topBar .right ul{letter-spacing:-4px;}#topBar .right ul li{letter-spacing:0;display:inline-block;display:inline;zoom:1;}
#topBar .right ul li.item{margin-right:10px;}
#header .module{height:75px;position:relative;*zoom:1;}#header .module:before,#header .module:after{display:table;content:"";line-height:0;}
#header .module:after{clear:both;}
#header .module .top-search{float:right;margin:10px 10px 0 0;}
#logo{position:absolute;top:10px;right:auto;bottom:auto;left:10px;*zoom:1;margin:0;z-index: 100;}
#mainnav{width:100%;position:absolute;top:auto;right:auto;left:0;*zoom:1;bottom:0;}#mainnav .tab{margin:0;padding-left:210px;}
#content{*zoom:1;}#content:before,#content:after{display:table;content:"";line-height:0;}
#content:after{clear:both;}
#content .sidebar,#content .mainbar{float:left;}
#content .mainbar{width:100%;}#content .mainbar .module{margin-left:210px;overflow:hidden;}
#content .sidebar{position:relative;*zoom:1;z-index:1000;padding-right:5px;width:205px;margin-left:-100%;background-color:#E5E5E5;}#content .sidebar .module{background-color:#fff;}#content .sidebar .module ul li{border-bottom:1px solid #F2F2F2;}#content .sidebar .module ul li h3{margin:0;font-size:12px;height:14px;line-height:14px;color:#FFF;padding:8px 0 8px 10px;background-color:#A5B7D3;}
#content .sidebar .module ul li a{display:block;padding:6px 0 6px 10px;color:#333;height:14px;line-height:14px;}#content .sidebar .module ul li a:hover{background-color:#E1E8F1;color:#369;text-decoration:none;}
#content .sidebar .module ul li a:active,#content .sidebar .module ul li a.selected{background-color:#08C;color:#FFF;}
#content .sidebar .sideBar-trigger{display:block;font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;width:10px;height:40px;z-index:30;background-image:url(../images/treeLine.png);background-repeat:no-repeat;background-position:-479px center;background-color:#F90;position:absolute;top:0;right:-5px;bottom:auto;left:auto;*zoom:1;}#content .sidebar .sideBar-trigger:hover{background-position:-493px center;background-color:#FB0;}
#content .sidebar .sideBar-trigger:active{background-position:-506px center;background-color:#FE0;}
#content #mainframe{width:100%;margin:0;padding:0;border:0;}
.side-folded .mainbar .module{margin-left:5px!important;}
.side-folded .sidebar{width:0!important;}.side-folded .sidebar .module{display:none;}
.side-folded .sidebar .sideBar-trigger{width:15px!important;right:-10px !important;background-position:-546px center !important;}.side-folded .sidebar .sideBar-trigger:hover{background-position:-532px center !important;}
.side-folded .sidebar .sideBar-trigger:active{background-position:-519px center !important;}
