<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hermes.app.persistence.pay.order.CardOrderMapper">
    <select id="selectRcvCardOrders" parameterType="com.hermes.app.form.order.RcvCardOrderForm"
            resultType="RcvcardOrder">
        SELECT *
        FROM
        (
        SELECT b.*, rownum rn
        FROM
        (
            select usercode, merorderno, billid,
                    cardno, faceval, realval,
                    mercommission, merleftmoney, cardname,
                    retresult, to_char(ordertime,'yyyy-mm-dd HH24:MI:SS') as ordertime, accaddval, corpname
            from tb_rcvcard_bill
            where usercode=#{usercode}
            and ordertime &gt;= to_date(#{startTime},'yyyy-mm-dd HH24:MI:SS')
            and ordertime &lt;= to_date(#{endTime} ,'yyyy-mm-dd HH24:MI:SS')
            <if test="states != null and states.size() != 0">
                AND state in
                <foreach collection="states" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="null != corpcode and corpcode != ''">
                and corpcode = #{corpcode}
            </if>
            <if test="null != billid and billid != ''">
                and billid = #{billid}
            </if>
            <if test="null != merorderno  and merorderno != ''">
                and merorderno = #{merorderno}
            </if>
            <if test="null != cardno  and cardno != ''">
                and cardno = #{cardno}
            </if>
            ORDER BY ${sortInfo}
        ) b
        WHERE  rownum &lt;= #{iDisplayStart} + #{iDisplayLength}
        ) bl
        WHERE bl.rn &gt; #{iDisplayStart}
    </select>

    <select id="countRcvCardOrders" parameterType="com.hermes.app.form.order.RcvCardOrderForm"
            resultType="int">
        select count(*)
        from tb_rcvcard_bill
        where usercode=#{usercode}
        and ordertime &gt;= to_date(#{startTime},'yyyy-mm-dd HH24:MI:SS')
        and ordertime &lt;= to_date(#{endTime} ,'yyyy-mm-dd HH24:MI:SS')
        <if test="states != null and states.size() != 0">
            AND state in
            <foreach collection="states" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="null != corpcode and corpcode != ''">
            and corpcode = #{corpcode}
        </if>
        <if test="null != billid">
            and billid = #{billid}
        </if>
        <if test="null != merorderno">
            and merorderno = #{merorderno}
        </if>
        <if test="null != cardno">
            and cardno = #{cardno}
        </if>
    </select>

    <select id="queryExportRcvCardOrders" parameterType="com.hermes.app.form.order.RcvCardOrderForm"
            resultType="RcvcardOrder">
        select usercode, merorderno, billid,
        cardno, faceval, realval,
        mercommission, merleftmoney, cardname,
        retresult, to_char(ordertime,'yyyy-mm-dd HH24:MI:SS') as ordertime, accaddval, corpname
        from tb_rcvcard_bill
        where usercode=#{usercode}
        and ordertime &gt;= to_date(#{startTime},'yyyy-mm-dd HH24:MI:SS')
        and ordertime &lt;= to_date(#{endTime} ,'yyyy-mm-dd HH24:MI:SS')
        <if test="states != null and states.size() != 0">
            AND state in
            <foreach collection="states" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="null != corpcode and corpcode != ''">
            and corpcode = #{corpcode}
        </if>
        <if test="null != billid and billid != ''">
            and billid = #{billid}
        </if>
        <if test="null != merorderno  and merorderno != ''">
            and merorderno = #{merorderno}
        </if>
        <if test="null != cardno  and cardno != ''">
            and cardno = #{cardno}
        </if>
        ORDER BY ordertime
    </select>

    <select id="selectOuterOrders" resultType="hashMap">
        <![CDATA[
        select merorderno,corpcode,cardno,faceval,retvalue,
               to_char(ordertime,'yyyy-mm-dd hh24:mi:ss') as ordertime,
               to_char(chargeendtime,'yyyy-mm-dd hh24:mi:ss') as chargeendtime,
               retresult
          from tb_rcvcard_bill
         where usercode = #{usercode}
           and corpcode <> '9999'
           and corpcode <> '9998'
           and (ordertime >=TO_DATE(#{startTime} ||'00:00:00','yyyy-mm-dd hh24:mi:ss')
           and ordertime <= TO_DATE(#{endTime} ||'23:59:59','yyyy-mm-dd hh24:mi:ss'))
        ]]>
    </select>

</mapper>

