<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hermes.app.persistence.ProjectMapper">

    <insert id="insert" parameterType="com.hermes.app.domain.Project">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            <if test="_databaseId == 'Oracle'">
                select project_seq.nextval as ID from dual
            </if>
            <if test="_databaseId == 'H2'">
                select 0 from dual
            </if>
        </selectKey>
        INSERT INTO project (name, description) VALUES (#{name}, #{description})
    </insert>

</mapper>

